<configuration>
    <!--  default log format  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" >
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" >
            <pattern> %date [%thread] [%-5level] %logger{40} - %message%n </pattern>
        </encoder>
    </appender>

    <!--  Logger name and log level for this proj  -->
    <logger name="com.ahzam" level="DEBUG" />

    <logger name="org.springframework" level="DEBUG" />

    <!--  log level for root logs  -->
    <root level="INFO" >
        <appender-ref ref="STDOUT" />
    </root>

</configuration>